body{
	margin: 0;
}

*{
	margin: 0;
	box-sizing: border-box;
}

.wrapper{
	width: 100vw;
	height: 100vh;
	background-color: #dfe6e9;
	display: flex;
/*	justify-content: center;*/
/*	align-items: center;*/
}

.calendar{
	margin: auto ;
	width: 600px;
/*	height: 400px;*/
	background-color: white;
	box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}

.month{
	display: flex;
	justify-content:space-between;
	width: 100%;
	align-items: center;
/*	height: 200px;*/
	text-align: center;
	background-color: #2ecc71;
	color: white;
	padding: 40px 30px;
}

.weekends{
	padding: 7px 0;
	background-color:#27ae60 ;
	color: white;
	display: flex;
}

.weekends div{
	width: 14.28%;
	text-align: center;
}

.days{
/*	width: 14.28%;*/
	display: flex;
	flex-wrap: wrap;
	text-align: center;
/*	font-weight: 300;*/
	padding: 10px 0;
}

.days div{
	width: 14.28%;
	margin-bottom: 10px;
	padding: 10px 0;
	transition: all 0.4s;
}

.days div:hover{
	background-color: #dfe6e9;
	cursor: pointer;
}

.today{
	background-color: #27ae60;
	color: white;
}

.prev_date{
	color: #999;
	
}

#month{
	font-size: 30px;
	font-weight: 500;
}

.prev,
.next{
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50px;
	display: flex;
	justify-content:center;
	align-items: center;
	font-size: 23px;
}

.prev:hover,
.next:hover{
	background-color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}